# Virtual Environment
.venv/
env/
venv/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Packaging & Distribution
build/
dist/
*.egg-info/

# Testing & Type checking
.pytest_cache/
.mypy_cache/

# IDE files
.vscode/
.idea/

# OS temporary files
Thumbs.db
Desktop.ini